@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    font-family: 'Montserrat', Courier, monospace;
    font-size: 20px;
}
.navbar {
    background-color:#064e3b;
    border-bottom-left-radius: 1rem;
    margin: 0%;
}
.navbar .list-item-inline{
    display:inline;
    text-align:right; 
}
.navbar .list-item-inline a{
    text-decoration: none;
    padding: 0rem 1rem; 
    color:white;
}
.navbar .ul{
    text-align:end;
    padding:1rem;
}
.navbar div{
    color:white;
}
.head{
    padding:1.2rem;
}
.head .img{
    max-width: 800px;
    display:block;
    margin:auto;
}
.head .img-heading{
    text-align:center;
}
.section {
    padding-bottom:1.5rem;
    padding-top: 0.3rem;
text-align:center;
background-color: whitesmoke;
}
.section1{
    text-align:center;
    padding-bottom: 1.5rem;
    padding-top:0.3rem;
}
.section1 .list-item {
    text-decoration: none;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    color:white;
    background-color: #064e3b; 
}

.footer{
    background-color:#064e3b;
    text-align:center;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.footer .footer-ul-inline{
    display:inline;

}
.footer .footer-ul-inline a{
    text-decoration: none;
    color:white;
    padding: 1rem;
}
.footer h2{
    padding: 1rem;
    color:white;
}
.footer ul{
    padding: 0.5rem;
}
.links-secondary{
    max-width: 100px;
    margin: 1rem;
    padding: 0.3rem 1.2rem;
    border-radius: 1rem;
    border: 1px solid #064e3b;
    color: #064e3b;
    text-decoration: none;
}
.links{
    box-sizing: border-box; 
    text-decoration: none;
    background-color:#064e3b;
    border-radius: 1rem;
    color:white;
    padding:0.3rem 1.2rem;
}